<nav>
	<div class="container">
		<ul class="links">
			<li>
				<a asp-action="search" asp-controller="Items" asp-route-query="Laptops">
					<i class="fa-solid fa-laptop"></i>
					<span>
						Laptops
					</span>
				</a>
			</li>
			<li>
				<a asp-action="search" asp-controller="Items" asp-route-query="Computers">
					<i class="fa-solid fa-computer"></i>
					<span>
						Computers
					</span>
				</a>
			</li>
			<li>
				<a asp-action="search" asp-controller="Items" asp-route-query="Mobiles">
					<i class="fa-solid fa-mobile-screen"></i>
					<span>
						Mobiles
					</span>
				</a>
			</li>
		</ul>
	</div>
</nav>