@using Project.ViewModels;
@model VerifyEmailViewModel;

@{
    ViewData["Title"] = "Verify Email";
}

<section class="change-password login-register">
	<div class="container">
		<div class="content">
			<div class="nav-head">
				<button class="active">
					Verify Your Email
				</button>
			</div>
			<div class="login-content">
				<div class="form-content">
					<form asp-action="VerifyEmail" method="post">
						<div asp-validation-summary="ModelOnly" class="text-denger summary">
							<i class="fa-solid fa-circle-exclamation"></i>
						</div>
						<div class="input">
							<label asp-for="Email">Email address</label>
							<input asp-for="Email" />
							<span asp-validation-for="Email" class="text-denger"></span>
						</div>
						<div class="login-btn">
							<input type="submit" value="Continue" />
						</div>
						<div class="back-home">
							<a asp-controller="Items" asp-action="HomePage" class="text-decoration-none mt-3">Back To Home</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}